@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif',
);

@include mat-core($custom-typography);
@include mat-toolbar-typography($custom-typography);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);

$custom-primay-color: (
    50 : #ebfbf2,
    100 : #cef4df,
    200 : #aeedca,
    300 : #8de6b5,
    400 : #74e0a5,
    500 : #5cdb95,
    600 : #54d78d,
    700 : #4ad282,
    800 : #41cd78,
    900 : #30c467,
    A100 : #ffffff,
    A200 : #d5ffe4,
    A400 : #a2ffc3,
    A700 : #89ffb2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-accent-color: (
  50 : #e1e7ed,
  100 : #b4c3d3,
  200 : #829cb5,
  300 : #507497,
  400 : #2b5681,
  500 : #05386b,
  600 : #043263,
  700 : #042b58,
  800 : #03244e,
  900 : #01173c,
  A100 : #7298ff,
  A200 : #3f73ff,
  A400 : #0c4eff,
  A700 : #0042f1,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);


$custom-theme-primary: mat-palette($custom-primay-color);
$custom-theme-accent: mat-palette($custom-accent-color);
$custom-theme-warn: mat-palette($mat-deep-orange);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

  h1, h2, h3, h4, h5, h6, mat-dialog-container {
    font-family: "Montserrat", sans-serif;
  }
