<div class="container content">
  <mat-card class="post-detail">
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
      <span>{{this.workItem.title}}</span>
      <button class="back-to-dashboard" color="primary" (click)="backToDashboard()" mat-raised-button><mat-icon class="material-icons">arrow_left</mat-icon> Back to dashboard</button>    
    </mat-card-title>
    <mat-card-subtitle>
      <a>Created by: {{ this.workItem.assignee.username }}</a> on {{this.workItem.created | date: 'dd LLL yyyy, HH:mm'}}</mat-card-subtitle>
      <div>Status: {{this.workItem.status}}</div>
      <div>Reviewers: {{this.reviewersStr}}</div>
    <mat-card-content class="description">
      <div>{{this.workItem.description}}</div>
    </mat-card-content>
    <div *ngIf="reviewer && (workItem.status === 'pending' || workItem.status === 'under review')">
        <button mat-raised-button class="margin-right" color="primary" (click)="review(workItem.id, 'accept')">Accept</button>
        <button mat-stroked-button class="margin-right" color="primary" (click)="review(workItem.id, 'change requested')">Change Requested</button>
        <button mat-raised-button class="margin-right" color="warn" (click)="review(workItem.id, 'reject')">Reject</button>
    </div>
    <hr>
    <mat-form-field class="full-width" layout="row">
      <input matInput placeholder="Comment" type="text" [(ngModel)]="newComment">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addComment(workItem.id)">Add Comment</button>
    <hr>
    <div *ngIf="comments.length > 0; else noComments">
      <div class="comment" *ngFor="let comment of comments">
        <app-comment [username]="this.username" [idWorkItem]="workItem.id"
          [comment]="comment"></app-comment>
      </div>
    </div>
    <ng-template #noComments>Currently there are no comments for this post.</ng-template>  
  </mat-card>
</div>
