.members-container 
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  margin: 5px 0
  padding: 10px 0

.name-container
  align-items: center
  display: flex

.member-icon
  margin-right: 15px