<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
    <h1>404 PAGE NOT FOUND</h1>
    <img id="error-image" src="../../../assets/imageedit_1_3955400202.png">
    <p>The page you are looking for does not exist on our server.</p>
    <p>Go back, or head over to our <a routerLink="/home">homepage</a> to choose a new direction.</p>
</div>