.register
  display:block
  text-align: center

.container 
  width: 500px
  margin-left: auto
  margin-right: auto
  margin-top: 50px


.form-container 
  display: flex
  flex-direction: column

.mat-card-title-group
  place-content: flex-end
  width: 95%

.form-container > *, .register-btn 
  width: 90%


mat-form-field 
  margin-bottom: 10px

.brand-container
  display: inline-block
  margin: 40px 0 25px