.comment 
  display: block
  position: relative
  border: 1px solid #cdcdcd
  border-radius: 10px
  padding: 10px 15px
  margin-bottom: 10px
  min-height: 91px

  .options  
    position: absolute
    right: 0
    top: 0
  

  .content-container 
    &.editing 
      padding-top: 12px
      .full-width 
        width: 80%
        margin-right: 5px
      