.item-form
    width: 50%
    margin-right: 5px

.user-container
    width: 30%
    margin-left: 5px
    margin-right: 5px

.mat-form-field
    padding: 5px
    display: block
    width: 100%

.action-btn 
    display: flex
    justify-content: flex-end
    margin: 20px 0 0

.search .search-inpput
    height: 50px

.scroll
    height: 230px
    overflow-y: scroll

.tags
    margin-left: 5px
    width: 29%

#create-button
    width: 100%