.login
  text-align: center
  displa: block

.container 
  width: 500px
  margin-left: auto
  margin-right: auto
  margin-top: 50px

.form-container 
  display: flex
  flex-direction: column

.mat-card-title-group
  place-self: flex-end
  width: 95%

.form-container > *, .login-btn 
  width: 90%


mat-form-field 
  margin-bottom: 10px

.brand-container
  display: inline-block
  margin: 40px 0 25px