<div class="login">
  <a  routerLink="/home" class="brand-container"> <img src="../../../assets/tick42-logo.png" class="brand main-brand"></a>
  
  <mat-card class="container" fxLayout="column" fxLayoutAlign="space-between stretch" [ngStyle.xs]="{ width: '90%' }">
      <mat-card-title-group class="title-group">

        <mat-card-title class="align-center">Login</mat-card-title>
        <mat-card-subtitle class="align-center`">
          Don't have an account?
          <a routerLink="/register">
            <span>Register</span>
          </a>
        </mat-card-subtitle>
      </mat-card-title-group>
    
      <mat-card-content>
        <form class="form-container" fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <mat-form-field>
            <input matInput placeholder="username" formControlName="username" />
            <mat-error *ngIf="loginForm.controls.username.hasError('required')"> Username is required </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'" />
            <mat-error *ngIf="loginForm.controls.password.hasError('required')"> Password is required </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-card-actions align="center">
            <button mat-flat-button color="primary" class="login-btn">Login</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
</div>
  